<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sheenmo Web Studio</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
    <link rel="icon" href="{{ '/favicon.ico' | url }}">
  </head>
  <body>
    <header>
      <a class="logo" href="{{ '/' | url }}"><img src="/images/logo-black.svg" alt="Sheenmo logo"></a>
      <nav>
          <ul>
              <li><a href="#services">Services</a></li>
              <li><a href="#clients">Clients</a></li>
              <li><a href="#process">Process</a></li>
          </ul>
      </nav>
      <a href="#contact" class="btn">Contact</a>
  </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="text-center">
      ©<span id="year"></span> Sheenmo LLC
    </footer>
    <script type="module" src="{{ '/js/main.js' | url }}"></script>
  </body>
</html>
